%h1 FFSについて
%p
  FFS (Five Factors & Stress) 理論とは、人事関連費用（人件費・教育訓練等）を抑えつつ、労働強化なしに組織生産性を上げることを目的として構築された、応用心理学系の理論体系です。組織人事心理学者であり経済学博士・教育学博士の小林惠智が、1979年から米国国防機関の依頼で研究・提唱したもので、その有効性はさまざまな検証により実証されています。
%h2#ffs 因子について
%table.table.table-hover
  %thead
    %tr
      %th 因子
      %th 特徴
      %th 強み
      %th 判断軸
  %tbody
    %tr
      %th A 凝縮性
      %td
        %ul
          %li こだわりが強い。自らの価値規範を持っている。
          %li 「すべき」「当然」と押し付けがましい。
          %li こだわりは人によって、強い、弱いがある。
      %td
        %ul
          %li 決断する力が強い。
          %li 明確な方向づけができる。
      %td 正しいかどうか
    %tr
      %th B 受容性
      %td
        %ul
          %li 周りの意見を受け入れようとする。
          %li 相手が嬉しいことが自分も嬉しい。
          %li 受け入れすぎてキャパオーバーになりやすい。
          %li 受け入れる器は、人によって大きい、小さいがある。
      %td
        %ul
          %li 意見を聞き出して調整していく。
          %li 変化に柔軟に対応していく。
      %td 良いか、悪いか
    %tr
      %th C 拡散性
      %td
        %ul
          %li 背景や根拠を重要視する
          %li 自身にとっての都合の良さが判断の軸。ドライ。
          %li 線を引いてから出ないと次の話を聞けない。
      %td
        %ul
          %li 様々な情報を整理していくことが得意。
          %li 事実や情報をもとに冷静に判断する。
      %td 適合するかどうか
    %tr
      %th D 拡散性
      %td
        %ul
          %li 自由さを求め、積極的に動く。
          %li フラットで小規模集団思考。
          %li まず体験から、帰納的に学ぶ。
      %td
        %ul
          %li 調整的で、チャンスに目を向ける。
          %li 新しいことも、積極的に行動する。
      %td 好き・嫌い
    %tr
      %th E 保全性
      %td
        %ul
          %li 過去事例などから、慎重に進める。
          %li 自分が理解してないことは、他人に任せない。
          %li 自分のエネルギー損失を少なくする方法を選択する。
      %td
        %ul
          %li リスクに目を向け、発見することが得意。
          %li 着実に、継続的に物事を進め続けることが得意。
      %td 好き・嫌い
%p
  これらの因子は個性を決定する源泉で、普通本人が意識することはありません。その人の表面に現れている行動パターンや、本人が自覚している範囲での物事の感じ方・考え方などから、帰納的な分析を行います。
%p
  5つの因子は、強弱の差こそあれどんな人にも普遍的に存在します。これらが単独で、あるいはいくつか組み合わされて性格を形成し、さらに「いくつもの性格の集合としての個性」を決定します。そして、その中で「最も強力な因子」がその人の最も特徴的な性格を形成し、表出されることになるのです。

%h2#stress ストレスについて
%p
  一般にストレスという言葉は、精神的・肉体的な疲労などのため、はっきりした原因もないのに体がだるかったり、不機嫌になったりする状態を指して使われていますが、実際には、ストレスは人体や組織に対して内外から加えられる刺激の全体を意味します。
%p
  このストレスは、人体や組織に悪いものとは限らず、良いストレスというのも存在しています。刺激がなければ人体も組織も興奮しない、つまりエネルギーを発動させられません。欲求がなければ行動が動機付けられないように、刺激に対する反応が行動をモチベートすると言えるでしょう。
%p
  活動のエネルギーを順調に引き出してくれるようなストレス、つまり良いストレスのことをユーストレス(eustress）と呼び、それに対して悪いストレスのことをディストレス（distress）と呼びます。FFS理論ではこれらのストレスも把握し、数値化します。

%h2#4_type 4 Type
%table.table.table-hover
  %thead
    %tr
      %th 名前
      %th 記号
      %th 説明み
  %tbody
    %tr
      %th タグボート型
      %td TG
      %td 偵察・先導に向く人材
    %tr
      %th リーダーシップ型
      %td LM
      %td 変革・拡大を得意とする人材
    %tr
      %th マネジメント型
      %td ML
      %td 管理・調整を得意とする人材
    %tr
      %th アンカー型
      %td AN
      %td 堅守・徹底を得意とする人材
%p
  この人材の4タイプ分類は、組織において必要な機能に当てはめると明確になります。
%p
  まず事業として成長可能性が大きい新規事業の芽を嗅ぎつけ、アイデアベースのものを具現化することを得意とする人材がタグボート型です。ただし飽きっぽい傾向があり、成功がある程度見えたところで次のアイデアに興味を持ちだすという側面があります。
%p
  そこでタグボート型が見つけた新規事業の芽を、リスクに対してチャレンジしながらグイグイと引っ張っていく人材がリーダーシップ型です。市場拡大、変革に強いタイプです。
%p
  次に、市場拡大し奪ったシェアを管理・調整しながらコストイノベーションを起こして利益を最大にしていくことが得意な人材が、マネジメント型です。
%p
  そして最後に、すでに獲得したシェアを徹底的に死守する、あるいは万難を排して徹底するなど守りの要としての活躍が期待されるのがアンカー型です。動いてはいけない環境や業務があり、その部分を死守することが得意なタイプです。
%p
  このように、事業がおかれている環境により、求められるタイプ・活躍できるタイプが異なります。 この4タイプを考慮して組織のミッションに合致するタイプを配置していくことが、事業の成功をもたらす可能性を高めていくのです。

%h2 引用
%p
  = link_to "【FFS理論とは】より", "https://www.ffs-survey.com/ffs/member/unlimited/aboutffs.jsp"
